html, body {
    height: 100%;
    text-align: center;
    font-size: max(1.6vw, 24px);
    background-color: #f7f7f7; /* Set a background color */
    color: #080808;
}
.hr {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
h2 {
    font-family: 'Computer Modern Serif', serif;
}
p {
    font-family: 'EB Garamond', serif;
}
a {
    color: #080808;
}
.wsdmc {
    animation: fade 90s infinite ease, write 15s 1 ease;
    mask-repeat: no-repeat;
}
.wsdm {
    font-size: max(min(3.5vh, 2vw), 18px);
    font-family: 'Tangerine', serif;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
}
@keyframes fade {
    0%   {color: #8f8f8f;}
    20%  {color: #2f2f2f;}
    25%  {color: #7f7f7f;}
    30%  {color: #3f3f3f;}
    40%  {color: #afafaf;}
    60%  {color: #4f4f4f;}
    80%  {color: #bfbfbf;}
    90%  {color: #5f5f5f;}
    100% {color: #8f8f8f;}
}

@keyframes write {
    0% {
        mask-size: 0%;
        mask-image: linear-gradient(
          to right,
          /* 0.33turn, */
          rgba(0, 0, 0, 1) 75%,
          rgba(0, 0, 0, 0)
        );
      }
      100% {
        mask-size: 134%;
        mask-image: linear-gradient(
          to right,
          /* 0.33turn, */
          rgba(0, 0, 0, 1) 75%,
          rgba(0, 0, 0, 0)
        );
      }
}

progress {
    width: 100%;
    height: max(0.3vw, 4px);
    background-color: #eeeeee;
    outline-color: transparent;
    color: #080808;
    border: 0;
    /* padding: 0px;
    border-radius: 0px; */
}
progress::-webkit-progress-bar {
    width: 100%;
    height: max(0.3vw, 4px);
    background-color: #eeeeee;
    outline-color: transparent;
    border: 0;
}
progress::-webkit-progress-value {
    width: 100%;
    height: max(0.3vw, 4px);
    background-color: #080808;
    outline-color: transparent;
    border: 0;
}
progress::-moz-progress-bar {
    width: 100%;
    height: max(0.3vw, 4px);
    background-color: #080808;
    outline-color: transparent;
    color: black;
    border: 0;
}
.footnote {
    position: fixed;
    bottom: 0;
    width: 100%;
}
@media only screen and (max-height: 475px) {
    .footnote {
        display: none;
    }
}
.inverted {
    filter: invert(100%) hue-rotate(180deg);
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}